<html>
  <head>
      <meta charset="utf-8" />
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
  </style>
  <body>
    <div id="reactEntry"></div>
  
    <!-- Attach React components -->
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
